# 챕터 4 실습 코드들 

챕터 4의 실습에 필요한 코드 예제를 구글 코랩에서 여시려면 [링크](https://colab.research.google.com/drive/1SS6wXHE1vIi4wVZb9EnnwS08Edie92vV?usp=sharing
)를 클릭하시거나 아래의 주소를 웹브라우저에 복사해 주세요. 

실습 코드 링크: https://colab.research.google.com/drive/1SS6wXHE1vIi4wVZb9EnnwS08Edie92vV?usp=sharing

## 4.1.	“안녕, 세상아!” 출력하기

### [코드 예제 4-1: 잘못된 방법으로 안녕, 세상아! 출력하기1]

In [ ]:
안녕, 세상아!

SyntaxError: ignored

### [코드 예제 4-2: 잘못된 방법으로 안녕, 세상아! 출력하기2]

In [ ]:
# print(): 파이썬이 특정 값을 출력하게 해주는 명령어 
print(안녕, 세상아)

NameError: ignored

### [코드 예제 4-3: 안녕 세상아 출력하기]

In [ ]:
print('안녕, 세상아!')

안녕, 세상아!

### [코드 예제 4-4: 잘못된 방법으로 안녕, 세상아! 출력하기3]

In [ ]:
print '안녕, 세상아'

SyntaxError: ignored

### [코드 예제 4-5: 안녕과 세상아 속 데이터를 출력하기]

In [ ]:
안녕 = '인공지능' # 안녕이라는 변수에 `인공지능`저장
세상아 = "안녕!" #세상아라는 변수에 `안녕!` 저장
print(안녕, 세상아) # 안녕, 세상아라는 변수에 저장된 값을 출력하기

인공지능 안녕!

### [코드 예제 4-6: 잘 못된 주석 사용의 예 1]

In [ ]:
코드 내에 설명을 달고 싶으면 어떻게 하면 될까요?

SyntaxError: ignored

### [코드 예제 4-7: 올바른 주석 사용의 예 1]

In [ ]:
# 코드 내에 설명을 달 수 있습니다. # 이후의 부분은 무시됩니다.

### [코드 예제 4-8: 잘 못된 주석 사용의 예 2]

In [ ]:
# `#`을 사용하여 주석을 달면 그 줄에만 해당되고
그 이후의 줄부터는 코드로 인식됩니다

SyntaxError: ignored

### [코드 예제 4-9: 올바른 주석 사용의 예 2]

In [ ]:
print('안녕, 세상아') # 코드 이후 주석 달기

안녕, 세상아

## 4.2.	파이썬을 사용해 계산 결과 출력하기

### [코드 예제 4-10: 파이썬에서 사칙 연산 사용하기의 예 1]

In [ ]:
25+25

50

### [코드 예제 4-11: 파이썬에서 사칙 연산 사용하기의 예 2]

In [ ]:
5*5

25

### [코드 예제 4-12: 마지막 계산 결과만 출력되는 코드의 예]

In [ ]:
# 마지막 값만 출력됩니다. 
10+3
10/2

5.0

### [코드 예제 4-13: 여러 계산 값을 출력하는 코드의 예]

In [ ]:
# 매번 연산의 결과가 출력됩니다. 
print(10+3)
print(10/2)

13
5.0

### [코드 예제: 4-14: 파이썬의 데이터 형태-정수]

In [ ]:
type(10) #

int

### [코드 예제: 4-15: 파이썬의 데이터 형태-실수]

In [ ]:
type(10.0)

float

### [코드 예제: 4-16: 파이썬의 데이터 형태-논리]

In [ ]:
type(10==10)

bool

### [코드 예제: 4-17: 파이썬의 데이터 형태-문자열]

In [ ]:
type('10')

str

### [코드 예제 4-18: 문자열에서의 큰 따옴표와 작은 따옴표 사용]

In [ ]:
# 문자열 내에 따옴표가 문자로 인식되어 있는 경우 
print('"문자열 내에 큰 따옴표가 있는 경우" 작은 따옴표 안에 사용하면 제대로 인식합니다') 

# 문자열 내에 따옴표가 문자로 인식되어 있는 경우 
print("'문자열 내에 큰 따옴표가 있는 경우' 작은 따옴표 안에 사용하면 제대로 인식합니다")

"문자열 내에 큰 따옴표가 있는 경우" 작은 따옴표 안에 사용하면 제대로 인식합니다
'문자열 내에 큰 따옴표가 있는 경우' 작은 따옴표 안에 사용하면 제대로 인식합니다

### [코드 예제 4-19: 따옴표를 잘 못 사용하면 발생하는 에러의 예]

In [ ]:
# 작은 따옴표를 여러 개 사용하는 경우 
print('작은 따옴표(')를 여러 개 사용하면 문자열을 제대로 인식하지 못합니다')

SyntaxError: ignored

### [코드 예제 4-20: 문자열과 실수의 덧셈]

In [ ]:
# 
10.0 + '10'

TypeError: ignored

### [코드 예제 4-21: 문자열과 수의 뺄셈]

In [ ]:
10.0 - '10'

TypeError: ignored

[코드 예제 4-22: 문자열과 숫자의 곱셈"

In [1]:
'10' * 10

'10101010101010101010'

### [코드 예제 4-23: 두 문자열 간의 덧셈]

In [ ]:
"인공"+"지능"

'인공지능'

### [코드 예제 4-24: 논리값의 연산]

In [ ]:
# True 가 1의 값을 각기 때문에 나누는 경우 1이 됩니다. 
print((True + True)/2)

# False는 0의 값을 갖기 때문에 숫자를 더해도 변화가 없습니다. 
print(False + 10)

# True는 1의 값을 갖음으로 숫자를 더하면 값이 변합니다. 
print(True + 10)

1.0
10
11

### [코드 예제 4-25: 큰 숫자의 표시]

In [ ]:
200000000000000000.0

2e+17

###[코드 예제 4-26: 작은 숫자의 표시]

In [ ]:
1*.0000000000000001

1e-16

###[코드 예제 4-27: 아주 큰 숫자의 표시]

In [ ]:
1e400

inf

### [코드 예제 4-28: bool()의 결과값 예시]

In [ ]:
# bool()의 결과값이 True 인 경우 
print(bool(1))
print(bool(-1.1))
print(bool("1"))
print(bool("true"))
print(bool("False"))
print(bool(1==1))

# bool()의 결과값이 False이 경우
print(bool(""))
print(bool(0))

True
True
True
True
True
True
False
False

### [코드 예제 4-29: int() 변환 예제]

In [ ]:
print(int(True))
print(int(False))
print(int(10.5))
print(int("1"))

1
0
10
1

### [코드 예제 4-30: 실수인 문자열을 int()로 변환하기]

In [ ]:
int("10.5")

ValueError: ignored

### [코드 예제 4-31: 문자열을 int()로 변환하기]

In [ ]:
int("ten")

ValueError: ignored

### [코드 예제 4-32: float() 변환 예제]

In [ ]:
print(float(True))
print(float(False))
print(float(10))
print(float("10"))
print(float("10.5"))

1.0
0.0
10.0
10.0
10.5

### [코드 예제 4-33: 문자열을 float()로 변환한 경우]

In [ ]:
float("ten")

ValueError: ignored

### [코드 예제 4-34: str()을 사용한 데이터 값 변환]

In [ ]:
print(str(True))
print(str(False))
print(str(10))
print(str(10.5))

True
False
10
10.5

### [코드 예제 4-35: 인덱싱의 예제 1]

In [ ]:
words = '인공지능의 기초개념'
# 변수의 1번째 위치에 있는 문자 출력
print(words[1])

공

### [코드 예제 4-36: 인덱싱의 예제 2]

In [ ]:
 #문자열의 길이 출력
 print(words[0])

인

### [코드 예제 4-37: 문자열의 길이 출력]

In [ ]:
 #words내의 문자 갯수를 출력
len(words)

10

### [코드 예제 4-38: 문자열의 길이보단 긴 곳을 인덱싱하려 할 때 발생하는 에러의 예]

In [ ]:
# 문자열의 길이보다 긴 위치를 인덱싱하는 경우 
words[10]

IndexError: ignored

### [코드 예제 4-39: 문자열 슬라이싱의 예 1]

In [ ]:
words[0:6] # 첫번째부터 일곱번째 위치에 있는 모든 문자 출력

'인공지능의 '

### [코드 예제 4-40: 문자열 슬라이싱에서 시작 위치나 끝 위치를 비워 둔 예]

In [ ]:
print(words[:7]) # 문자열의 처음부터 인덱스 7 앞의 문자까지 슬라이싱
print(words[7:]) # 문자열의 인덱스 7부터 마지막 문자까지 슬라이싱
print(words[:]) # 문자열의 처음부터 끝까지 슬라이싱

인공지능의 기
초개념
인공지능의 기초개념

### [코드 예제 4-41: 음수를 사용한 인덱싱의 예 1]

In [ ]:
print(words[-5:-1]) # -5번째와 -1번째 사이의 문자열
print(words[2:-1]) # 양수와 음수 인덱스의 혼용

 기초개
지능의 기초개

### [코드 예제 4-42: 음수를 사용한 인덱싱의 예 2]

In [ ]:
# 시작위치의 범위가 넘더라도 에러발생 하지 않음 
words[-11:]

'인공지능의 기초개념'

### [코드 예제 4-43: 매 n 번째 문자를 출력하는 코드]

In [ ]:
# 매 2번째 문자 출력
words[::2]

'인지의기개'

### [코드 예게 4=44: 슬라이싱에서 음수로 단계를 조절하는 코드의 예]

In [ ]:
# 매 1번째 글자를 반대로 출력
words[::-1]

'념개초기 의능지공인'