# 챕터 5 실습 코드들 

챕터 5의 실습에 필요한 코드 예제를 구글 코랩에서 여시려면 [링크](https://colab.research.google.com/drive/1li_OnjPC1uj3EdRBkqMs39hgByCJxMIk?usp=sharing
)를 클릭하시거나 아래의 주소를 웹브라우저에 복사해 주세요. 

실습 코드 링크: https://colab.research.google.com/drive/1li_OnjPC1uj3EdRBkqMs39hgByCJxMIk?usp=sharing

### [코드 예제 5-1: 변수에 데이터 저장하기]

In [ ]:
# 변수에 값 저장하기 
x = 100
print(x)

100

### [코드 예제 5-2: 변수에 새로운 값을 저장하기]

In [ ]:
# 기존에 저장한 것과 같은 값인지 확인하기 위해서 변수 출력
print(x) 

# 변수 x 에 새로운 값을 저장 
x = 150 
print(x)

200
150

### [코드 예제 5-3: 변수 속성확인]

In [ ]:
# 변수 속성확인 
print(type(x))

# 데이터 형태 변경 후 변수 속성확인 
x = 150.0 
print(type(x))

<class 'int'>
<class 'float'>

### [코드 예제 5-4: 새로운 변수에 다른 변수 간의 연산 결과 저장하기]

In [ ]:
x1 = 10 
x2 = 20

# 새로운 변수에 변수 간의 연산결과 저장 
x3 = x1+x2 
print(x3)

30

### [코드 예제 5-5: 다른 변수에 같은 값 저장하기]

In [ ]:
# 여러 변수에 같은 값 저장 
a = b = c = d = 100  
print(a, b, c, d) 

# 변수 중 하나의 값을 변환 
b = 150  
print(a, b, c, d)

100 100 100 100
100 150 100 100

### [코드 예제 5-6: 각기 다른 변수에 다른 데이터를 저장]

In [ ]:
# 다른 변수에 각기 다른 값 저장
x, y, z = 10, 20, 30 
print("x =", x, "y =", y, "z =", z)

x = 10 y = 20 z = 30

### [코드 예제 5-7: 변수와 데이터의 수가 동일하지 않는 경우 발생하는 에러의 예]

In [ ]:
# 변수의 수와 데이터의 수가 동일하지 않아 에러 발생
x, y, z = 10, 20, 30, 40

ValueError: ignored

In [ ]:
x, y, z = 10, 20

ValueError: ignored

### [코드 예제: 5-8 변수 값 교환하기]

In [ ]:
x, y = 10, 20 
print(x, y)

# 변수 값을 변경 
x, y = y, x 
print(x, y)

10 20
20 10

### [코드 예제 5-9: 변수명의 대소문자를 구별하기 때문에 발생하는 에러]

In [ ]:
math = 10 
print(Math)

NameError: ignored

### [코드 예제 5-10: 변수 명에 사용할 수 있는 문자들]

In [ ]:
# 변수 이름에 사용할 수 있는 문자들 
변수 = 10
x1 = 10 
x_10 = 10
_xdf = 30

### [코드 예제 5-11: 변수 명으로 사용할 수 없는 경우]

In [ ]:
# 변수 이름에 사용할 수 없음 
10_x = 10

SyntaxError: ignored

### [코드 예제 5-12: 예약어에 데이터를 저장하려는 경우 발생하는 에러의 예]

In [ ]:
# 예약어에 변수를 저장하려는 경우 
False = 10

SyntaxError: ignored

[코드 예제 5.1.3-1: input() 함수 사용의 예]

In [ ]:
input("당신의 고향은 어디인가요?: ")

당신의 고향은 어디인가요?: 서울

'서울'

### [코드 예제 5-13: input() 함수 사용의 예

In [ ]:
input("당신의 고향은 어디인가요?: ")

### [코드 예제 5-14: input() 함수를 사용해 데이터 입력받기

In [ ]:
# 입력값을 받아 answer라는 변수에 저장
answer = input("당신의 고향은 어디인가요?: ") 
print("당신의 고향은 ", answer, " 입니다")

당신의 고향은 어디인가요?: 서울
당신의 고향은  서울  입니다

### [코드 예제 5-15: 리스트 만들기]

In [ ]:
# 4개의 요소를 가진 리스트를 생성 
list_a = [1, 2, 3, 4] 
print(list_a) 
print(type(list_a))

[1, 2, 3, 4]
<class 'list'>

### [코드 예제 5-16: 비어 있는 리스트 만들기]

In [ ]:
# 빈리스트 만들기
empty_list_a = list() 
empty_list_b = [ ] 

# 요소가 없기 때문에 []이 출력됨 
print(empty_list_a) 
# 요소가 없기 때문에 []이 출력됨 
print(empty_list_b)

[]
[]

### [코드 예제 5-17: 리스트에 다른 요소 저장히기]

In [ ]:
# 리스트에 다른 요소 저장하기 
list_b = ['치와와', 100, 235, True, '비글', 232.32, 200.5, False]

print(list_b)

['치와와', 100, 235, True, '비글', 232.32, 200.5, False]

### [코드 예제 5-18: 리스트를 요소로 가진 리스트 만들기]

In [ ]:
# 리스트를 포함한 리스트 만들기 
list_c = ['리스트요소1', ['리스트요소2-1', '리스트요소2-2', '리스트요소2-3'], 
      '리스트요소3', ['리스트요소4-1','리스트요소4-2']]
print(list_c)
print(type(list_c))

### [코드 예제 5-19: 리스트 안의 리스트 불러오기]

In [ ]:
# list_c의 두번째 요소를 출력 
list_c[1]

['리스트요소2-1', '리스트요소2-2', '리스트요소2-3']

### [코드 예제 5-20: 리스트 안의 리스트의 요소 출력하기]

In [ ]:
#리스트 안의 리스트에서 첫번째 요소 출력 
list_c[1][0]

'리스트요소2-1'

### [코드 예제 5-21: 두 리스트의 덧셈]

In [ ]:
print(list_a)
print(list_b)
# 두 리스트 더하기 
print(list_a + list_b)

[1, 2, 3, 4]
['치와와', 100, 235, True, '비글', 232.32, 200.5, False]
[1, 2, 3, 4, '치와와', 100, 235, True, '비글', 232.32, 200.5, False]

### [코드 예제 5-22: 리스트에 숫자를 곱한 값]

In [ ]:
list_a * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### [코드 예제 5-23: 리스트와 리스트의 곱셈]

In [ ]:
list_a*list_a

TypeError: can't multiply sequence by non-int of type 'list'

### [코드 예제 5-24: 리스트와 리스트의 뺄셈]

In [ ]:
list_d = [1, 3]
list_a-list_d

TypeError: unsupported operand type(s) for -: 'list' and 'list'

### [코드 예제 5-25: 리스트의 특정 요소 값 변경]

In [ ]:
list_a = [1,2,3,4]
list_a[0] = 12 
list_a

[12, 2, 3, 4]

### [코드 예제 5-26: 리스트의 범위를 지정하여 값을 변경]

In [ ]:
list_a = [1,2,3,4]
# 두 개의 요소 변경
list_a[0:2] = [3, 4] 
print(list_a)
# 두 개의 요소를 세 개의 요소로 변경 
list_a[0:2] = [13, 64, 4]
print(list_a)
# 빈 요소로 변경 
list_a[0:2] = [] 
print(list_a)

[3, 4, 3, 4]
[13, 64, 4, 3, 4]
[4, 3, 4]

### [코드 예제 5-27: 리스트의 범위를 하나의 데이터로 변경하면 발생하는 에러]

In [ ]:
list_a = [1,2,3,4]
list_a[0:2] = 1 
list_a

TypeError: ignored

### [코드 예제 5-28: 리스트에 데이터 추가하기]

In [ ]:
list_a = [1, 2, 3, 4, 5]
# 마지막에 하나의 요소 추가 
list_a.append(6) 
print(list_a)
# 마지막에 리스트 추가 
list_a.extend([7,8])
print(list_a)
# 특정 위치에 특정 요소 추가 
list_a.insert(3, 9)
print(list_a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 9, 4, 5, 6, 7, 8]

### [코드 예제 5-29: 명령어를 사용하여 리스트 안의 요소 제거]

In [ ]:
list_a = [1, 2, 3, 3, 9, 4, 5, 6, 7, 8]
# 마지막 요소 제거 
list_a.pop() # 마지막 요소 제거 
print(list_a)
# 특정 요소 제거 
list_a.remove(3) 
print(list_a)
# del 사용하여 특정 위치 요소 제거
del list_a[2]
print(list_a)
# 리스트 내의 모든 요소 제거 
list_a.clear()
print(list_a)

[1, 2, 3, 3, 9, 4, 5, 6, 7]
[1, 2, 3, 9, 4, 5, 6, 7]
[1, 2, 9, 4, 5, 6, 7]
[]

### [코드 예제 5-30: .index() 를 사용해 리스트 내의 요소 찾기]

In [ ]:
list_d = [4,5,3,4,3,2,2,1,2,3]
# 처음 요소 찾기 
print(list_d.index(3))
# 특정 인덱스 이후 요소 찾기 
print(list_d.index(3,3))

2
4

### [코드 예제 5-31: .count()를 사용하여 리스트 안의 요소의 개수 세기]

In [ ]:
list_d = [4,5,3,4,3,2,2,1,2,3]
# 요소의 개수 세기 
print(list_d.count(3))
# 리스트 안에 존재하지 않는 요소 세기
print(list_d.count(15))

3
0

### [코드 예제 5-32: .reverse()를 사용하여 리스트 변환]

In [ ]:
list_d = [4,5,3,4,3,2,2,1,2,3]
list_d.reverse()
print(list_d)

[3, 2, 1, 2, 2, 3, 4, 3, 5, 4]

### [코드 예제 5-33: .sort()를 사용한 리스트 내의 요소 정렬]

In [ ]:
list_d = [4,5,3,4,3,2,2,1,2,3]
# 오름차순 
list_d.sort()
print(list_d)

# 내림차순
list_d = [4,5,3,4,3,2,2,1,2,3]
list_d.sort(reverse=True)
print(list_d)

#문자열 정렬
list_f = ['a', 'b', 'z', 'k', 'r']
list_f.sort() # 문자열은 오름차/내림차 정렬이 가능함
print(list_f)

[1, 2, 2, 2, 3, 3, 3, 4, 4, 5]
[5, 4, 4, 3, 3, 3, 2, 2, 2, 1]
['a', 'b', 'k', 'r', 'z']

### [코드 에제 5-34: 순서를 정할 수 없는 리스트의 정렬]

In [ ]:
list_b = ['치와와', 100, 235, True, '비글', 232.32, 200.5, False]
list_b.sort() 
print(list_b)

TypeError: ignored

### [코드 예제 5-35: 새로운 리스트에 기존 리스트를 할당하는 경우]

In [ ]:
list_a = [1, 5, 6] 

# 새로운 리스트에 기존 리스트 할당한 기존 리스트 요소 값 변경
list_b = list_a 
list_a[0] = 15
print('변경후: list_a = ', list_a)
print('변경후: list_b = ', list_b)
print("list_a와 list_b는 같은가?", list_a is list_b)

변경후: list_a =  [15, 5, 6]
변경후: list_b =  [15, 5, 6]
list_a와 list_b는 같은가? True

### [코드 예제 5-36: .copy()를 사용해 새로운 리스트 생성]

In [ ]:
list_a = [1, 5, 6] 

# .copy()를 사용하는 경우 
list_b = list_a.copy()
list_a[0] = 15
print('변경후: list_a = ', list_a)
print('변경후: list_b = ', list_b)
print("list_a와 list_b는 같은가?", list_a is list_b)

변경후: list_a =  [15, 5, 6]
변경후: list_b =  [1, 5, 6]
list_a와 list_b는 같은가? False

## 5.4. 딕셔너리

###  [코드 예제 5-37: 딕셔너리 만들기]

In [ ]:
# 딕셔너리 만들기
dict_a = {'사과': 100, '딸기': 150, '바나나': 50} 
print(dict_a) 
# 중복된 키가 있는 경우 
dict_b = {'사과': 100, '딸기': 150, '바나나': 50, '바나나':200} 
print(dict_b)

{'사과': 100, '딸기': 150, '바나나': 50}
{'사과': 100, '딸기': 150, '바나나': 200}

### [코드 예제 5-38: 빈 딕셔너리 만들기]

In [ ]:
# 빈 딕셔너리 만들기 1 
dict_c = {} 
# 빈 딕셔너리 만들기 2 
dict_d = dict() 
print(dict_c)
print(dict_d)

{}
{}

### [코드 예제 5-39: 딕셔너리 속 특정 키의 값 출력]

In [ ]:
dict_b = {'사과': 100, '딸기': 150, '바나나':200} 

# 키를 인덱싱하여 값을 출력 
print(dict_a['딸기']) 
# .get()를 사용하여 키의 값을 출력 
print(dict_a.get('딸기'))

150
150

### [코드 예제 5-40: 딕셔너리에 존재하지 않는 키를 출력하는 경우]

In [ ]:
dict_b = {'사과': 100, '딸기': 150, '바나나': 50, '바나나':200} 
dict_b[0]

KeyError: ignored

### [코드 예제 5-41: .get()을 사용하여 딕셔너리에 존재하지 않는 키를 호출했을 때]

In [ ]:
dict_b = {'사과': 100, '딸기': 150, '바나나': 50, '바나나':200} 
dict_b.get('파파야')

### [코드 예제 5-42: 딕셔너리에 저장된 값 살펴보기]

In [ ]:
dict_b = {'사과': 100, '딸기': 150, '바나나': 50, '바나나':200} 
print(dict_b.keys()) # 키만을 반환 
print(dict_b.values()) # 값만을 반환 
print(dict_b.items()) #키와 값의 쌍으로 반환

dict_keys(['사과', '딸기', '바나나'])
dict_values([100, 150, 200])
dict_items([('사과', 100), ('딸기', 150), ('바나나', 200)])

## 5.5.	딕셔너리 안의 데이터 다루기

### [코드 예제 5-43: 딕셔너리에 새로운 데이터 추가하기]

In [ ]:
print("추가하기 전: ", dict_b)
dict_b['파파야'] = 120
print("추가한 후: ", dict_b)

추가하기 전:  {'사과': 100, '딸기': 150, '바나나': 200}
추가한 후:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 120}

### [코드 예제 5-44: .update()를 사용해 딕셔너리에 키와 값 추가하기]

In [ ]:
print("추가하기 전: ", dict_b)
dict_b.update({'망고':170, '자몽':90})
print("추가한 후: ", dict_b)

추가하기 전:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 120}
추가한 후:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 120, '망고': 170, '자몽': 90}

### [코드 예제 5-45: 딕셔너리 안의 데이터 수정 방법의 예]

In [ ]:
print("수정하기 전: ", dict_b)
dict_b['파파야'] = 100
print("수정한 후: ", dict_b)

수정하기 전:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 120, '망고': 170, '자몽': 90}
수정한 후:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 100, '망고': 170, '자몽': 90}

### [코드 예제 5-46: .update()를 사용하여 딕셔너리 안의 데이터 수정하기[

In [ ]:
print("수정하기 전: ", dict_b)
dict_b.update({'망고':100, '자몽':130})
print("수정한 후: ", dict_b)

수정하기 전:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 100, '망고': 170, '자몽': 90}
수정한 후:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 100, '망고': 100, '자몽': 130}

### [코드 예제 5-47: .pop()을 사용해 딕셔너리안의 데이터 지우기]

In [ ]:
print("수정하기 전: ", dict_b)
dict_b.pop('망고')
print("수정한 후: ", dict_b)

수정하기 전:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 100, '망고': 100, '자몽': 130}
수정한 후:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 100, '자몽': 130}

### [코드 예제: 5-48: .clear()를 사용해 딕셔너리 안의 데이터 지우기]

In [ ]:
print('사용 전: ', dict_b)
dict_b.clear()
print('사용 후: ', dict_b)

사용 전:  {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 100, '자몽': 130}
사용 후:  {}

### [코드 예제 5-49: del을 사용해 딕셔너리 지우기]

In [ ]:
print('사용 전: ', dict_b)
del dict_b
print('사용 후: ', dict_b)

사용 전:  {}

NameError: ignored

### [코드 예제: 5-50 딕셔너리를 새로운 딕셔너리에 할당하는 경우]

In [ ]:
dict_b = {'사과': 100, '딸기': 150, '바나나': 50, '바나나':200} 

 # 딕셔너리를 새로운 딕셔너리에 할당 
dict_c = dict_b 

# 새로운 데이터 추가 
dict_c['파파야'] = 120


# 두 딕셔너리가 같은지를 비교 
print("딕셔너리 원본", dict_b)
print("딕셔너리 복제본", dict_c)
print(dict_c is dict_b)

딕셔너리 원본 {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 120}
딕셔너리 복제본 {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 120}
True

### [코드 예제 5-51: .copy()를 사용한 딕셔너리 복제]

In [ ]:
 # 딕셔너리를 새로운 딕셔너리에 복제 
dict_d = dict_b.copy()

# 새로운 데이터 추가 
dict_d['파파야'] = 70


# 두 딕셔너리가 같은지를 비교 
print("딕셔너리 원본", dict_b)
print("딕셔너리 복제본", dict_d)
print(dict_d is dict_b)

딕셔너리 원본 {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 120}
딕셔너리 복제본 {'사과': 100, '딸기': 150, '바나나': 200, '파파야': 70}
False

### [코드 예제 5-52: id를 사용해 딕셔너리 비교하기]

In [ ]:
print(id(dict_b))
print(id(dict_c))
print(id(dict_d))

140504992228208
140504992228208
140504992228288